{% extends "base.html" %}
{%load static%}
{% block title %}
My Blog
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "pages/posts.css" %}">
<link rel="stylesheet" href="{% static "pages/index.css" %}">
{% endblock %}
{% block content %}


<section id="welcome">
    <header>
        <img src="{% static "pages/images/Ritesh1.jpg" %}"  alt="Ritesh pic" />
        <h2>Ritesh Blog</h2>
    </header>
    <p>
        Hello this is Ritesh This is my Blog I like to blog about tech
    </p>
</section>

<section id="latest-posts">
    <h2>Latest Entry</h2>
    <ul> {% for post in posts %}
        {% include "pages/includes/post.html" %}
        {% endfor %}

    </ul>
</section>
<section id="about">
    <h2> What I do</h2>
    <p>I love programming I love to help others I enjoy exploring new technologies in general</p>
    <p>My goal is to keep on growing as a developer in general</p>

</section>
{% endblock %}