{% extends "base.html" %}
{%load static%}
{% block title %}
My Blog
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "pages/index.css" %}">
{% endblock %}
{% block content %}

<header id="main-navigation">
    <h1><a href="">Ritesh Blog</a></h1>
    <nav>
        <a href="">All Posts</a>
    </nav>
</header>
<section id="welcome">
    <header>
        <img src="" alt="Ritesh pic">
        <h2>Ritesh Blog</h2>
    </header>
    <p>
        Hello this is Ritesh This is my Blog I like to blog about tech
    </p>
</section>

<section id="latest-posts">
    <h2>Latest Entry</h2>
    <ul>
        <li><article class="post">
            <a href="">
                <img src="" alt="Mountain Hiking">
                <div class="post__content">
                     <h3>Mountain Hiking</h3>
                    <p>This is loren ipsum comnyent</p>
                </div>
            </a>

        </article></li>
           <li><article class="post">
            <a href="">
                <img src="" alt="Mountain Hiking">
                </a>
                <div class="post__content">
                       <h3>Mountain Hiking</h3>
                    <p>This is loren ipsum comnyent</p>
                </div>


        </article></li>
    </ul>
</section>
<section id="about">
    <h2> What I do</h2>
    <p>I love programming I love to help others I enjoy exploring new technologies in general</p>
    <p>My goal is to keep on growing as a developer in general</p>

</section>
{% endblock %}